{{#if errorMas}}
<div class="alert alert-danger">
    {{ errorMas }}
</div>
{{/if}}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-bars"></i></h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>

            <div class="box-content">
                <form class="form-horizontal" action="/users/update" method="post">
                    <input type="hidden" name="_csrf" value="{{token}}">
                    <input type="hidden" name="userId" value="{{user._id}}">
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">User Name *</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" name="userName" placeholder="User Name" value="{{user.userName}}"
                                class="form-control input-lg">
                            <span class="help-inline">User Name</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">Email *</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="email" name="email" placeholder="Email" value="{{user.email}}"
                                class="form-control input-lg">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">Password *</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="password" name="password" placeholder="Password" class="form-control input-lg">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">phone (optional)</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="number" name="phoneNumber" value="{{user.phoneNumber}}" placeholder="phone"
                                class="form-control input-lg">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">User Role *</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <select class="form-control chosen-rtl" data-placeholder="Choose a Role" name="role"
                                tabindex="1">
                                {{#each roles }}
                                <option value="{{this.role}}">
                                    {{this.role}}
                                </option>
                                {{/each}}


                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <input type="submit" class="btn btn-primary" value="Save">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    $('#user').addClass('active');
    $('#user-index').addClass('active');
</script>